name: Run Cypress
on:
  workflow_dispatch:
    inputs:
      baseUrl:
        required: true
      config:
        required: true
jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with: { node-version: 20 }
      - run: npm ci
      - name: Run Cypress
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          config-file: cypress.config.ts
          config: baseUrl=${{ github.event.inputs.baseUrl }}
          env: TEST_SUITE=${{ github.event.inputs.config }}

